@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To DNT Capcha Example</h1>
    <p>
        <a type="button" class="btn btn-primary" asp-action="login" asp-controller="DntCaptcha">
          Click here to see DNT Captcha example
        </a>
    </p>
</div>
